* {
    margin:0;
    padding:0;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
}

.container {
    margin-top: 50px;
    display:block;
    text-align: center;
}

label {
    display: inline-block;
    margin: 0.625em;
    font-size: 0.875em;
}

input[type=text] {
    margin-left: 1em;
    max-width:100px;
}

button {
    min-width: 50px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 10%;
    background-color: #ffffff;
    border: 1px solid #808080;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: #D3D3D3;
}